<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SystemSales.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="localhost_Db_Sales_Connection" connectionString="XpoProvider=MSSqlServer;data source=DESKTOP-PD7TF20;integrated security=SSPI;initial catalog=Db_Sales" />
        <add name="localhost_Db_Sales_Connection 1" connectionString="XpoProvider=MSSqlServer;data source=DESKTOP-PD7TF20;integrated security=SSPI;initial catalog=Db_Sales" />
        <add name="localhost_Db_Sales_Connection 2" connectionString="XpoProvider=MSSqlServer;data source=.;integrated security=SSPI;initial catalog=Db_Sales" />
        <add name="SystemSales.My.MySettings.Db_SalessConnectionString"
            connectionString="Data Source=MALAK;Initial Catalog=Sales_DB;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="SystemSales.My.MySettings.Sales_DBConnectionString"
            connectionString="Data Source=MALAK;Initial Catalog=Sales_DB;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <SystemSales.My.MySettings>
            <setting name="SkinFirstMixerColor" serializeAs="String">
                <value />
            </setting>
            <setting name="SkinSecondMixerColor" serializeAs="String">
                <value />
            </setting>
            <setting name="SkinDevExpressName" serializeAs="String">
                <value>Th Bezier</value>
            </setting>
            <setting name="PaletteDevExpressName" serializeAs="String">
                <value>Leaf Rustle</value>
            </setting>
        </SystemSales.My.MySettings>
    </userSettings>
</configuration>
